body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
   
    background-color: rgb(202, 213, 180);
    height: 600px;
    width:385px;
}
.display {
    background-color: white;
    height: 100px;
    margin  : 10px;
}

button {
    width: 90px;
    height: 90px;
    margin: 3px;
    font-size: 30px;
}

.btn-0 {
    width: 185px;
}